h1{
    text-align: center;
    color: rgb(54, 104, 7);
    font-size: 70px;
    font-style: italic;
    position: sticky;
    margin: auto;
    text-shadow: 5px 5px 5px black;
}
.box{
    width: 400px;
    height: 560px;
    text-align: center;
    margin: auto;
    border: 1px solid crimson;
    box-shadow: 5px 5px 5px;
}
.box img{
    width: 100%;
}
h3{
    margin: 0;
    text-shadow: 2px 2px 2px;
}